<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <%-include('./include/links.ejs')%>
  </head>
  <body>
    <%-include('./include/nav.ejs')%>

    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% for(let kitten of kittens) { %>
          <tr>
            <td><%=kitten._id%></td>
            <td><%=kitten.name%></td>
          </tr>
          <% } %>         
        </tbody>
      </table>
      
      
    </div>

  </body>
</html>