<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kitten-form">New Kitten</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="/find-all">Show All Kittens</a>
    </li>
  </ul> 
</div>