<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ajax with NodeJS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    function updateData() {
      setInterval(() => {
        testAjax()
      }, 2000)
    }
  </script>

</head>
<body onload="JavaScript:updateData()">

<div class="container" id="response">
  response here...  
</div>

<div class="container">
  <p>
    This little example was just to create a page that have one part witch 
    gonna be updating each secound without to be completelly ready.
  </p>
  <% for(let i = 0; i < 10; i++) { %>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type 
    specimen book. It has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged. It was popularised in 
    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including 
    versions of Lorem Ipsum.
  </p>
  <% } %>
  

  <script src="/helper.js"></script>

</div>

</body>
</html>