<html>
  <head>
    <title>Node and MongoDB</title>
  </head>
  <body>
    <form action="/notes">
      <input type="text" name="title" placeholder='Title'>
      <textarea rows="" name="content" placeholder="Content"></textarea>
      <button type="submit">Send</button>
    </form>
  </body>
</html>